html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
}

/* h2{
  text-align: center;
} */

body {
  background: url("cake-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.logo img {
  width: 75%;
}

.navigation {
  height: 20%;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.navigation ul a {
  text-decoration: none;
}

.navigation ul li {
  border: 1px solid black;
  border-radius: 10px;
  width: 10%;
  height: 10%;
  text-align: center;
  padding: 15px 10px;
}

.navigation ul .logo {
  border: none;
}
