html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: black;
}
body {
  background-color: chocolate;
  background-image: url("cake-logo.jpg");
  background-repeat: no-repeat;
}

.navigation {
  height: 10%;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navigation ul a {
  text-decoration: none;
}

.navigation ul li {
  border: 1px solid black;
  border-radius: 10px;
  width: 10%;
  text-align: center;
}
